/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

@import 'reset.css';

@import 'https://fonts.googleapis.com/css?family=Roboto:400,700';

/* @import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap'); */

/*
  ========================================
  Custom Styles
  ========================================
*/

body {
  /* background-color: #eee; */
  font-family: 'Roboto' 'Lato', sans-serif;
}

/*
  ========================================
  Grid
  ========================================
*/
/* :root {
  --color-white: #f3f3f3;
  --color-darkblue: #1b1b32;
  --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
  --color-green: #37af65;
} */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

/*
  ========================================
  nav
  ========================================
*/

nav ul {
  border-top: 6px solid #e6af2e;
  background-color: #191716;
}

nav ul li a {
  display: block;
  color: #e6af2e;
  font-size: 20px;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
}

nav ul li a:hover {
  color: #e0e2db;
}

.logo {
  display: flex;
  justify-content: space-between;
  background: #e6af2e;
  color: #191716;
  font-size: 40px;
  font-style: italic;
  text-transform: uppercase;
}
.logo:hover {
  background-color: #e0e2db;
  color: #e6af2e;
}

@media screen and (min-width: 576px) {
  nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
  }
  nav ul li {
    flex: 1 0 auto;
  }
  .logo {
    display: block;
    text-align: center;
  }
  .logo .fa {
    display: none;
  }
}

/*
  ========================================
  banner
  ========================================
*/

#banner {
  min-height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/background-banner.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-text {
  font-size: 50px;
  text-transform: uppercase;
  color: greenyellow;
  font-style: italic;
}

.banner-underline {
  width: 200px;
  border: 3px solid #191716;
  margin: 10px auto 20px auto;
}

.banner-btn {
  display: flex;
  justify-content: space-around;
}

.banner-btn button {
  background: transparent;
  border: 2px solid #e6af2e;
  color: #e6af2e;
  font-size: 30px;
  margin: 0 10px;
  padding: 15px;
  text-transform: uppercase;
}

.banner-btn button:hover {
  background: #e6af2e;
  color: #e0e2db;
}

/*
  ========================================
  Skills Section
  ========================================
*/

#skills {
  padding: 60px 0;
  background-color: #beb7a4;
}

.skills-container {
  max-width: 95vw;
  margin: 0 auto;
}

.skills-item {
  text-align: center;
  margin: 20px 0;
}

.skills-item .fa {
  font-size: 60px;
  color: #171916;
}

.skills-item h1 {
  font-size: 30px;
  letter-spacing: 2px;
  margin: 30px 0;
  color: #e6af2e;
  text-transform: uppercase;
}

.skills-item p {
  width: 75%;
  margin: 0 auto;
  color: #e0e2db;
}

@media screen and (min-width: 576px) {
  .skills-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1em;
  }
}

@media screen and (min-width: 992px) {
  .skills-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 5px;
  }
}

/*
  ========================================
  Title
  ========================================
*/

.title {
  margin: 40px 0;
}

.title-text {
  color: #e0e2db;
  font-size: 40px;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
}

.title-underline {
  width: 200px;
  border: 3px solid #e6af2e;
  margin: 0 auto;
}

/*
  ========================================
  Services
  ========================================
*/

#services {
  min-height: 100vh;
  background: url(/services1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 0 80px 0;
}

.services-container {
  max-width: 90vw;
  color: #e0e2db;
  margin: 0 auto;
}

.service-item {
  overflow: hidden;
  position: relative;
  padding: 60px;
}

.service-item .fa {
  color: #e6af2e;
  font-size: 60px;
  margin-bottom: 30px;
}

.service-item-black {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}
.service-item-white {
  background: linear-gradient(
    rgba(206, 208, 206, 0.6),
    rgba(206, 208, 206, 0.6)
  );
  color: #191716;
}

.front-text {
  text-align: center;
  transition: transform 2s;
}

.back-text {
  position: absolute;
  bottom: -15em;
  width: 75%;
  margin: 0 auto;
  height: 100%;
  transition: bottom 2s;
  padding: 30px 0;
}

.back-text h1 {
  margin-bottom: 20px;
}

.back-text button {
  margin-top: 20px;
  padding: 10px 20px;
  background: transparent;
  border: 2px solid #e6af2e;
  color: #e6af2e;
  font-size: 20px;
}

.back-text button:hover {
  background-color: #e6af2e;
  color: #191716;
}

.service-item-white button {
  background: #e6af2e;
  color: #191716;
}

.service-item-white button:hover {
  background: #191716;
  border-color: #191716;
  color: #e6af2e;
}

.service-item:hover .front-text {
  transform: translateY(-200px);
}

.service-item:hover .back-text {
  bottom: 0;
}

@media screen and (min-width: 776px) {
  .services-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .services-container .service-item:nth-of-type(1) {
    order: 1;
  }
  .services-container .service-item:nth-of-type(2) {
    order: 2;
  }
  .services-container .service-item:nth-of-type(3) {
    order: 4;
  }
  .services-container .service-item:nth-of-type(4) {
    order: 3;
  }
}

/*
  ========================================
  projects
  ========================================
*/

#projects .title-text {
  color: #191716;
}

#projects {
  padding: 20px 0 80px 0;
  background-color: #e0e2db;
}

.projects-container {
  max-width: 90%;
  margin: 0 auto;
}

.projects-item {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  color: #e0e2db;
  overflow: hidden;
  margin: 20px 0;
}

#projects img {
  width: 100%;
  min-height: 100%;
  display: block;
  transition: transform 4s;
}

.img-text {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  text-align: center;
  transform: translate(-50, -50);
  transition: opacity 4s;
}

.img-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  font-size: 20px;
  padding: 10px;
  color: #e6af2e;
  opacity: 0;
  transition: opacity 4s;
}

.img-text h1 {
  font-size: 30px;
  margin-bottom: 10px;
}
.img-text h6 {
  font-size: 15px;
}

.projects-item:hover img {
  opacity: 0.4;
  transform: scale(1.3);
}

.projects-item:hover .img-text,
.projects-item:hover .img-footer {
  opacity: 1;
}

@media screen and (min-width: 576px) {
  .projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1em;
  }
}

@media screen and (min-width: 992px) {
  .projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1em;
  }
}

/*
  ========================================
  filler contact
  ========================================
*/

#filler-contact {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/assets/images/filler/filler1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 60px;
}

#filler-contact h1 {
  font-size: 30px;
  text-transform: uppercase;
  color: #e0e2db;
  margin-bottom: 10px;
}

#filler-contact button {
  font-size: 30px;
  text-transform: uppercase;
  color: #e6af2e;
  border: 2px solid #e6af2e;
  padding: 10px 15px;
  background: transparent;
}

#filler-contact button:hover {
  background: #e6af2e;
  color: #191716;
}

/*
  ========================================
  posts
  ========================================
*/

#posts {
  background: #beb7a4;
  padding: 20px 0 80px 0;
}

.post-container {
  max-width: 90%;
  margin: 0 auto;
}

.post-item {
  background-color: #e0e2db;
  color: #191716;
  margin: 20px 0;
}

#posts img {
  width: 100%;
  min-height: 100%;
  display: block;
  /* transition: transform 4s;; */
}

.img-container {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

.img-container .fa {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #e6af2e;
  transition: opacity 4s;
  opacity: 0;
}

.img-container:hover img {
  opacity: 0.4;
}
.img-container:hover .fa {
  opacity: 1;
}

.text-container {
  padding: 10px 5px 30px 5px;
}

.text-container p {
  padding: 15px 0 25px 0;
}

.text-container a {
  color: #e6af2e;
  border: 2px solid #e6af2e;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 5px;
  text-decoration: none;
}

.text-container a:hover {
  background-color: #191716;
  border-color: #191716;
}

@media screen and (min-width: 576px) {
  .post-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
  }
}
@media screen and (min-width: 992px) {
  .post-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
  }
}

/*
  ========================================
  footer
  ========================================
*/

footer {
  background-color: #191716;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.footer-text {
  text-transform: uppercase;
  font-size: 15px;
  color: #e0e2db;
  margin-bottom: 10px;
}

.footer-icons {
  font-size: 30px;
}

.footer-icons .fab {
  margin-right: 10px;
  color: #e0e2db;
  transition: transform 2s;
}

.footer-icons .fab:hover {
  color: #e6af2e;
  transform: translateY(-15px);
}
